section
	.flex.flex--center
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum dignissimos minima similique debitis nihil a vel eligendi atque rem et, facilis, est possimus error aut numquam expedita, eum porro.

		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quis maiores ea repellendus quas, vitae iure. Perspiciatis enim, nesciunt libero, dolor ducimus delectus voluptatem incidunt nam iste ipsa nobis aspernatur.

section
	.flex.flex--space-around
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum dignissimos minima similique debitis nihil a vel eligendi atque rem et, facilis, est possimus error aut numquam expedita, eum porro.

		.col-1.order-first
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quis maiores ea repellendus quas, vitae iure. Perspiciatis enim, nesciunt libero, dolor ducimus delectus voluptatem incidunt nam iste ipsa nobis aspernatur.

section
	.flex.flex--center
		.col-2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum dignissimos minima similique debitis nihil a vel eligendi atque rem et, facilis, est possimus error aut numquam expedita, eum porro.

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum dignissimos minima similique debitis nihil a vel eligendi atque rem et, facilis, est possimus error aut numquam expedita, eum porro.

			.col-50
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum dignissimos minima similique debitis nihil a vel eligendi atque rem et, facilis, est possimus error aut numquam expedita, eum porro.