mixin nav-content()
	ul
		li: a(href="#about") About
		li: a(href="#instagram") Instagram
		//- li: a(href="#articles") Articles
		//- li: a(href="#design") Design
		//- li: a(href="#notes") Notes
		li: a(href="#youtube") YouTube
		li: a(href="#contact") Contact

.mobile-nav
	+nav-content()


header
	.header-position
		h1.logo Mehrdad Rafiee

		nav.site-nav
			+nav-content()

		a(href="mailto:rafiee.mehrdad@gmail.com").email-link +email me


		.mobile-nav-toggle: span