section.notes
	.flex.flex--center
		.col-2
			p.home-lead ...Sending email notes...

			.notes-signup-box (form)

	.flex.flex--center
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			ul
				li <a href="#"> Lorem ipsum</a>
				li <a href="#"> Lorem ipsum</a>
				li <a href="#"> Lorem ipsum</a>