section.podcast
	.flex.flex--center
		.col-2
			p.home-lead ...and Podcasting with friends.

			.podcast-content
				.podcast-thumb
					img(src="http://placehold.it/200x225")

				.podcast-text
					.date 20 Jan,2015
					.title Lorem ipsum dolor sit amet.
					.player

	.flex.flex--center
		.col-1
			a(href="#").home-cta.web Website
		.col-1
			a(href="#").home-cta.ituens iTunes