section.youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe></iframe>

		.col-1.order-first
			p.home-lead.outdented Comming soon...
			a(href="#").home-cta Check out my YouTube