section.vine
	.flex.flex--center
		.col-2
			p.home-lead I'm passionate about desing and web technologies/frameworks. I keep posting about them on Twitter. Follow me to find out more.
			a(href="https://twitter.com/bepetese").home-cta.twitterBtn <i class="fa fa-twitter"></i> @bepetese