mixin design-img(link, color)
	a(href="#{link}" data-color="#{color}").design-img-link
		img(src="http://placehold.it/200x150")


section.design
	.flex.flex--center
		.col-50.flex.flex--center.dribbble(data-orig-color="#ea4c89")
			.col-1
				p.home-lead ...Updating on Dribbble...
				+design-img('http://placehold.it/200x150', 'orange')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				.cf
				a(href="#").home-cta See more on Dribbble

		.col-50.flex.flex--center.codepen
			.col-1
				p.home-lead ...and Codepen...
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				+design-img('http://placehold.it/200x150')
				.cf
				a(href="#").home-cta See more on Codepen