section.vine
	.flex.flex--center
		.col-2
			p.home-lead I'm an enthusiast developer who uses bleeding edge technologies to create stuff out of code. I keep posting about them on Twitter. Follow me to find out more.
			a(href="https://twitter.com/bepetese").home-cta.twitterBtn <i class="fa fa-twitter"></i> @bepetese
