section.articles#instagram
	.flex.flex--center
		
		.col-50
			.article-wrap
				{% for post in site.posts limit: 12 %}
				a(href="#" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}}").article-thumb
					.article-meta
						//- .name {{post.title}}
						//- .date {{post.date | date: "%b, %d, %Y"}}
				{% endfor %}
				


		.col-50.flex.flex--center.order-first
			.col-1
				.desc-wrap
					p.home-lead I also take photos of subjects that capture my attention.
					a(href="https://www.instagram.com/tristan_pix").home-cta See all images