mixin design-img(link, color)
	a(href="#{link}" data-color="#{color}").design-img-link
		img(src="http://placehold.it/200x150")


section.design
	.flex.flex--center
		.col-50.flex.flex--center.linkedin
			.col-1
				i.fa.fa-linkedin.fa-5x
				.cf
				a(href="https://www.linkedin.com/in/mehrdadrafiee").home-cta Contact me on LinkedIn

		.col-50.flex.flex--center.github
			.col-1
				i.fa.fa-github.fa-5x
				.cf
				a(href="https://github.com/mehrdadrafiee").home-cta Follow me on GitHub