section.youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe src="//giphy.com/embed/OVlFjmEDhx9rG" frameBorder="0" allowFullScreen></iframe>

		.col-1.order-first
			p.home-lead I will upload some stuff to YouTube later on
			a(href="#").home-cta Coming soon...