section.youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe src="http://placehold.it/350x150"></iframe>

		.col-1.order-first
			p.home-lead.outdented YouTube
			a(href="#").home-cta Comming soon...