section.design
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p.home-lead ...Designing on Codepen...
				a(href="#").home-cta See more on Codepen

		.col-50.flex.flex--center
			.col-1
				p.home-lead ...and on Dribbble...
				a(href="#").home-cta See more on Dribbble