---
layout: default
title: Mehrdad Rafiee | Home
---

<div class="home-wrap">

  {% include header.html %}

  <div class="home-sections">

  	{% include section-about.html %}
    {% include section-vine.html %}
    <!-- {% include section-mentoring.html %} -->
    {% include section-articles.html %}
    {% include section-youtube.html %}
    {% include section-design.html %}
    <!-- {% include section-notes.html %}
    {% include section-podcast.html %} -->
    {% include section-footer.html %}
    <!-- {% include columns.html %} -->
  	
  </div>

</div>