.home-footer
	a
		color: white
		background-color: #e24040
		display: block
		width: 100%
		line-height: 6
		text-align: center
		font-size: 70px
		font-weight: 600
		transition: background 100ms ease-in-out
	
		&:hover
			background: darken(#e24040, 10%)