.home-footer
  background-color: #b8b8b8

  a
    color: transparent
    background-color: #565656
    display: block
    width: 100%
    line-height: 6
    text-align: center
    font-size: 70px
    font-weight: 600
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.45)
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    transition: background 100ms ease-in-out

    @media (max-width: 895px)
      font-size: 50px

    @media (max-width: 650px)
      font-size: 35px

    @media (max-width: 450px)
      font-size: 20px

    &:hover
      text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3)
      -webkit-background-clip: text
      -moz-background-clip: text
      background-clip: text
